@layer components {

    .skills-list {
        .skill {
            @apply mt-2 ml-1 first:ml-0;
        }
    }

    .skill {
        @apply rounded-full border px-4 text-sm py-2 font-medium bg-gray-200;
    }

}
